/* Base */
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
  --color-black: #161C2D;
  --color-purple: #473BF0;
  --font-rubik: "Rubik", sans-serif;
  --font-size-medium: 17px;
  --font-size-mini: 15px;
  --font-size-supermini: 13px;
  --font-weight-big: 700;
  --font-weight-medium: 400;
  --line-height-mini: 26px;
  --line-height-medium: 32px;
}
/* Logo */
.logo{
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0,13px;
    font-weight: var(--font-weight-big);
    font-family:var(--font-rubik);
}
/* Button */
.button {
    font-weight: var(--font-weight-big);
    font-size:var(--font-size-medium);
    color: white;
    background-color: var(--color-purple);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Typography */
.text--title {
    font-size: 48px;
    font-weight: var(--font-weight-big);
    line-height: 58px;
    letter-spacing: -1.8px;
    /* max-width: 429px;
    max-height: 116px; */
}
.text--desc {
    opacity: 70%;
    font-weight: var(--font-weight-medium);
    font-size: 19px;
    line-height: var(--line-height-medium);
    letter-spacing: -0.2px;
}
.form {
    max-width: 296px;
    max-height: 134px;
    display: flex;
}
.text--mini-title {
    font-weight: var(--font-weight-big);
    font-size: 21px;
    line-height: var(--line-height-medium);
    letter-spacing: -0.5px;
}
.text--mini-desc {
    opacity: 70%;
    font-size:var(--font-size-medium);
    line-height: 29px;
    letter-spacing: -0.2px;
}
/* Header */
.header {
    margin-top: 16px;
    margin-left: 25px;
    margin-right: 14px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 124px;
}
.header-left {
    max-width: 150px;
    margin-top: 9px;
    margin-right: 455px;
    margin-bottom: 13px;

}
.header-center {
    margin-top: 12px;
    max-width: 333px;
    max-height: 26px;
    margin-right: 372px; 
}
.nav-list {
    gap: 26px;
    display: flex;
}
.nav-item {
    list-style: none;
}
.nav-link {
    text-decoration: none;
    font-size:var(--font-size-mini);
    color: var(--color-black);
    font-family:var(--font-rubik);
    font-weight: var(--font-weight-big);
}
.header-right .button--buynow {
    width: 247px;
    height: 50px;
}
.layout{
    display: flex;
    flex-direction: column;
}
/* page1 */
.page1{
    display: flex;
    flex-direction: column;
}
.page1__image-center{
    margin: auto;
    max-width: 356px;
    max-height: 301px;
}
.page1__image-center-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.page1__describe {
    margin: auto;
    margin-top: 79px;
    text-align: center;
    margin-bottom: 151px;
}
.page1__describe-label {
    font-size:var(--font-size-supermini);
    color: #F64B4B;
    margin-bottom: 26px;
    text-transform: uppercase;
    font-weight: var(--font-weight-big);
}
.page1__describe-title {
    font-size: 60px;
    font-weight: var(--font-weight-big);
    line-height: 65px;
    letter-spacing: -2px;
    margin-bottom: 29px;
}
.page1__describe-desc {
    margin: auto;
    max-width: 636px;
    max-height: 64px;
}
.page1__describe-btn {
    min-width: 254px;
    min-height: 59px;
    margin-bottom: 26px;
    margin-top: 35px;
}
.page1__describe-watch {
    text-transform: uppercase;
    font-size:var(--font-size-supermini);
    color: var(--color-black);
    font-weight: var(--font-weight-big);
    margin: auto;
}
/* page2 */
.page2{
    display: flex;
    background-color: #F4F7FA;
    max-height: 771px;
}
.page2__left {
    max-width: 632px;
    max-height: 934px;
    background-repeat: no-repeat;
    background-size: cover;
}
.page2__right {
    max-height: 934px;
}

.page2__introduce {
    margin: 164px 163px 83px 258px;
}
.page2__introduce-title {
    margin-bottom: 20px;
    max-width: 429px;
    max-height: 116px; 
}
.page2__introduce-desc {
    max-width: 400px;
    max-height: 64px;
    margin-bottom: 110px;
}
.page2__introduce-footer {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 33px;
}
.page2__form1{
    gap: 14px;
}
.page2__form2{
    gap: 18px;
}
.img-left-1{
    max-width: 55px;
    max-height: 52px;
    margin-top: 9px;
    position: relative;
}
.page2__ap {
    max-width: 42px;
    max-height: 40px;
    position: absolute;
    z-index: 2;
}
.page2__ovleft{
    max-width: 44px;
    max-height: 40px;
    position: absolute;
    top: 12px;
    left: 15px;
}

.img-left-2{
    position: relative;
    max-width: 48px;
    max-height: 48px;
    margin-top: 12px;
}

.page2__sound {
    max-width: 44px;
    max-height: 40px;
    position: absolute;
    z-index: 2;
}
.page2__ovright {
    width: 35px;
    height: 35px;
    top: 25px;
    left: 13px;
}
.page2__mini-title {
    margin-left: 69px;
}
.page2__mini-desc {
    margin-top: 15px;
    margin-left: 69px;
}
/* page3 */
.page3{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-purple);

}
.page3__left {
    margin-left: 340px;
    padding: 169px 0px;
}
.page3__introduce {
    display: flex;
    flex-direction: column;
    max-width: 421px;
    max-height: 433px;
}
.page3__introduce-title {
    margin-bottom: 15px;
    color: white;
}
.page3__introduce-desc {
    margin-bottom: 90px;
    margin-right: 30px;
    color: white;
}
.page3__introduce-footer {
    max-width: 421px;
    max-height: 148px;
    display: flex;
    gap: 22px;
}
.page3__introduce-footer-img {
    margin-top: 10px;
    max-width: 54px;
    max-height: 54px;
}
.page3__introduce-title {
    
}
.page3__introduce-footer-desc {
    font-size: 21px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-mini);
    color: white;
    font-family:var(--font-rubik);
    margin-bottom: 23px;
}
.page3__introduce-footer-name {
    font-size:var(--font-size-mini);
    font-weight: var(--font-weight-big);
    line-height: var(--line-height-mini);
    opacity: 65%;
    letter-spacing: -0.1px;
    color: white;
}
.page3__right{
    max-height: 771px ;
    max-width: 595px;
    background-repeat: no-repeat;
    background-size: cover;
}
.page4{
    background-image: url(./Images/background-page4.svg);
    max-width: 100%;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.page4__background-footer {
    min-width: 100%;
    background-image: url(./Images/music-wave-page4.svg);
    min-height: 100vh;
    top: 331px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.page4__introduce {
    max-width: 475px;
    max-height: 202px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 148px;
    text-align: center;
    align-items: center;
    margin-bottom: 75px;
}
.page4__introduce-title {
    color: white;
    margin-bottom: 22px;

}
.page4__introduce-desc {
    color: white;
    margin-right: 36px;
    margin-left: 35px;
}
.page_ap{
    position: relative;
    max-width: 340px;
    max-height: 348px;
    margin: auto;
}
.page_ap .page4__left-ap{
    position: absolute;
    top: 0;
     max-width: 214px;
    max-height: 306px;
}
.page_ap .page4__right-ap {
    max-width: 220px;
    max-height: 305px;
    position: absolute;
    left: 171px;
    top: 120px;
}


.page5__center {
    max-width:1017px ;
    max-height: 600px;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 158px;
}
.page5__introduce {
    max-width: 475px;
    max-height: 143px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;
}
.page5__introduce-title {
    color: black;
    margin-bottom: 21px;
    align-items: center;
    text-align: center;
    
}
.page5__introduce-desc {
    color: #161C2D;
    text-align: center;
    margin-right: 35px;
    margin-left: 36px;
}
.page5__shop {
    max-width: 1017px;
    min-height: 372px;
    display: flex;
    gap: 123px;
}
.page5__card {
    max-width: 257px;
    min-height: 372px;
    display: flex;
    flex-direction: column;
}
.page5__card-img {
    max-width: 226px;
    min-height: 155px;
    margin-left: 22px;
    margin-bottom: 31px;
}
.page5__card-title {
    text-align: center;
    margin-bottom: 15px;
}
.page5__card-desc {
    text-align: center;
    margin-bottom: 31px;
}
.page5__card-btn {
    min-width: 152px;
    min-height: 50px;
    margin: auto;
}
.page6{
    background-image: url(./Images/background-page6.svg);
    max-width: 100%; ;
    min-height: 100vh;
   
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */
.footer {
    max-width: 1112px;
    max-height: 28px;
    display: flex;
    margin: auto;
    margin-top: 44px;
    margin-bottom: 43px;
    justify-content: space-between;
}

.footer__right {
    min-width: 369px;
    max-height: 26px;
    font-weight: var(--font-weight-big);
    font-size:var(--font-size-mini);
    line-height:var(--line-height-mini);
    letter-spacing: -0.1px;
    text-align: right;
    justify-content: space-between;
    display: flex;
}
.footer__right-link {
    text-decoration: none;
    color: #161C2D;
}